{% extends "srv/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block customjs %}
   <script type="text/javascript" src="{% static 'srv/js/yes.js' %}">
   </script>
{% endblock %}

{% block content %}
<div id="unrolled"></div>
<div id="compressed"></div>
<div class="view" id="webrtc">
  <h1>Webcam</h1>
  <p class="seeCompressed">{% trans "Video feedback" %}</p>
  {{ video }}
</div>
<script type="text/javascript">
  function view(url){ var i = $("iframe"); i.attr('src',url); }
</script>
<div class="view" id="legalStuff">
  <h1>{% trans "Authors' description and legal stuff" %}</h1>
  <div class="author">
    <span class="copy">© 2016</span>
    <span class="authorname">Georges Khaznadar</span>
    <span class="email">&lt;georgesk@debian.org&gt;</span>
    <span class="license">License: GPL-3+</span>
  </div>
</div>
<div class="view" id="dsc">
  <h1>{% trans "The authors describe the experiment" %}</h1>
  <p>
    {% trans "This experiment is not very interesting. It is just about managing an on/off switch, and an analogic output, and recording analogic measurements. It is only a proof of concept. The buttons and sliders allow you to drive an expEYES-Junior box, with attached components." %}
  </p>
  <h2>{% trans "Featured actions and records" %}</h2>
  <ul>
    <li>{% trans "The on/off button allows you to light up/down a LED" %}</li>
    <li>{% trans "The slider allows you to change the frequency of a square wave output which powers a passive buzzer." %}</li>
    <li>{% trans "The resistance of a light-dependent-resistor is recorded." %}</li>
    <li>{% trans "The voltage output of an amplified microphone is recorded." %}</li>
    <li>{% trans "The voltage output of the square wave generator is recorded too." %}</li>
  </ul>
  <h2>{% trans "Schematics" %}</h2>
  <center>
    <img width="90%" src="{% static 'srv/img/sch1.svg' %}" alt='{% trans "Connections" %}' />
  </center>
  <h2>{% trans "Connections" %}</h2>
  <center>
    <img width="90%" src="{% static 'srv/img/expeyes1.svg' %}" alt='{% trans "Connections" %}' />
  </center>
</div>
<div class="view" id="comments">
  <h1>{% trans "Comments posted by visitors" %}</h1>
  {% for comment in comments %}
  <div class="comment">
    <span class="date">{{ comment.created_date }}</span>
    <strong>{{ comment.author }}</strong>
    <hr/>
    <p>{{ comment.text|linebreaks }}</p>
  </div>
  {% empty %}
  <p class="comment">{% trans "No comments here yet :(" %}</p>
  {% endfor %}
  {% if user.is_authenticated %}
  <a class="btn btn-default" href="/srv/add_comment">{% trans "Add comment" %}</a>
  {% endif %}
</div>
<div class="view" id="reservations">
  <h1>{% trans "Reservations" %}</h1>
  <table>
    <tr>
      <th>{% trans "Wanted reservation date:" %}</th>
      <td>
	<input class="datepicker" type="text" name="wantedDate" id="wantedDate" onchange="wantedDateChange()" value="{{date}}"/>
	<span id="tz">{% trans "timezone =" %} {% firstof user.profile.timezone "UTC" %}</span>
      </td>
    </tr>
  </table>
  <h2>{% trans "timeslots" %}</h2>
  <div id="resa">
    {{timeslots| safeseq|join:" "}}
  </div>
  <script type="text/javascript">
    $(function(){ // will be called when the document is ready
    updateResa({{resa|safe}}, '{{user.username}}');
    });
  </script>
</div>
<div class="view" id="params">
  <h1>{% trans "Parameters and action buttons for the experiment" %}</h1>
  <h2>{% trans "Action buttons" %}</h2>
  {% for b in buttons %}
  {{b|safe}}
  <br/>
  {% endfor %}
  <h2>{% trans "Range controls" %}</h2>
  {% for r in ranges %}
  {{r|safe}}
  <br/>
  {% endfor %}
</div>
<div class="view" id="outputs">{% trans "Data delivered by the previous runs of the experiment" %}</div>
<div id="message">
</div>
{% endblock %}
