{% load i18n %}
{% load staticfiles %}
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset:utf-8"/>
    <title>..::| Expe-YES |::..</title>
    <link rel="stylesheet" href="{% static 'srv/css/yes.css' %}"/>
    <link rel="stylesheet" href="{% static 'srv/js/jquery-ui/themes/smoothness/jquery.ui.all.css' %}"/>
    <script type="text/javascript" src="{% static 'srv/js/jquery/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'srv/js/jquery-ui/jquery-ui.js' %}"></script>
    <script type="text/javascript" src="{% static 'srv/js/yes.js' %}"></script>
  </head>
  <body>
    <div id="pagetitle">
      {% trans "Example expe-YES experiment" %}
      <div id="auth">
	{% if user.username %}
	<div id="welcome">
	  {% trans "Welcome" %} {{user.username}}<br/>
	  <a href="{{logoutURL}}">{% trans "logout" %}</a>
	</div>
	{% else %}
	<div id="login">
	  <form action="{{loginURL}}" method="post">
	    {% csrf_token %}
	    <input name="return" value="index" type="hidden"/>
	    <input name="username" placeholder='{% trans "login name" %}' type="text"/>
	    <input name="password" placeholder='{% trans "password" %}' type="password"/>
	    <input type="submit" value='{% trans "Login"%}'/>
	  </form>
	</div>
	{% endif %}
      </div>
    </div>
    <div id="unrolled"></div>
    <div id="compressed"></div>
    <div class="view" id="webrtc">
      <p class="seeCompressed">{% trans "Video feedback" %}</p>
      {{ video }}
    </div>
    <script type="text/javascript">
      function view(url){ var i = $("iframe"); i.attr('src',url); }
    </script>
    <div class="view" id="author">{% trans "Authors' description and legal stuff" %}</div>
    <div class="view" id="authorcomment">{% trans "The authors describe the experiment" %}</div>
    <div class="view" id="comments">{% trans "Comments posted by visitors" %}</div>
    <div class="view" id="reservations">
      <h1>{% trans "Reservations" %}</h1>
      <table>
	<tr>
	  <th>{% trans "Wanted reservation date:" %}</th>
	  <td>
	    <input class="datepicker" type="text" name="wantedDate" id="wantedDate" onchange="wantedDateChange()" value="{{date}}"/>
	    <span id="tz">{% trans "timezone =" %} {{user.profile.timezone}}</span>
	  </td>
	</tr>
      </table>
      <h2>{% trans "timeslots" %}</h2>
      <div id="resa">
	{{timeslots| safeseq|join:" "}}
      </div>
      <script type="text/javascript">
	$(function(){ // will be called when the document is ready
	updateResa({{resa|safe}});
	});
      </script>
      <fieldset>
	<legend>{% trans "Make the reservation" %}</legend>
	<button onClick="submitResa('{{user.username}}');">{% trans "OK" %}</button>
      </fieldset>
    </div>
    <div class="view" id="params">
      <h1>{% trans "Parameters and action buttons for the experiment" %}</h1>
      {% for b in buttons %}
      {{b}}
      <br/>
      {% endfor %}
    </div>
    <div class="view" id="outputs">{% trans "Data delivered by the previous runs of the experiment" %}</div>
    <div id="message">
    </div>
  </body>
</html>
