{% load staticfiles %}
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset:utf-8"/>
    <meta http-equiv="refresh"
	  content="2; url={{next}}">
    <title>..::| Expe-YES logout |::..</title>
    <link rel="stylesheet" href="{% static 'srv/css/yes.css' %}"/>
    <link rel="stylesheet" href="{% static 'srv/js/jquery-ui/themes/smoothness/jquery.ui.all.css' %}"/>
    <script type="text/javascript" src="{% static 'srv/js/jquery/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'srv/js/jquery-ui/jquery-ui.js' %}"></script>
    <script type="text/javascript" src="{% static 'srv/js/counter.js' %}"></script
  </head>
  <body>
    <div id="pagetitle">
      Thank you for using the site. You shall be redirected in <span id="s">2</span> seconds.
    </div>
  </body>
</html>
